<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectofct_alejandro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".SplashTimer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alejandro_Blue"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Utilities.Activity_3d_map"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:resizeableActivity="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Utilities.Activity_liveMap"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Utilities.Activity_Template1"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Utilities.Activity_Template2"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>